**/bin/**
**/cache/**
**/compile-cache-iseq/**
**/assests/builds
**/.git
**/node_modules

*.enc
*.ico
*.key
*.lock
*.log
*.map
*.pid
*.png
*.sqlite3
*.txt

.editorconfig
.gitattributes
.gitignore
.prettierignore
.keep
.ruby-version
Procfile.dev

# Could not find a reliable package for this one :(
*.erb
