<nav class="topbar">
  <span class="topbar-item">
    <a class="topbar-link" href="#"> Leagues </a>
  </span>
  <span class="topbar-item">
    <a class="topbar-link" href="#"> Teams </a>
  </span>
  <span class="topbar-item">
    <a class="topbar-link" href="#"> Settings </a>
  </span>
</nav>
