@import "colors";

$footer-height: 30px;

html {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: $primary;
}

body {
  margin: 0;
}

main {
  margin: 0 1rem;
  margin-bottom: $footer-height;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $secondary;
}

.spacer {
  height: 1rem;
}

.card {
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
  background-color: #fafafa;
}
