<div>
  <h1>
    Hello FF-Archiver
  </h1>

  <%# TODO: Add some responsivity %>

  <div class="card timeline-container">
    <h3> Timeline </h3>
  </div>

  <div class="spacer"> </div>
  <div class="card importer-container">
    <h3> Importer </h3>
  </div>

  <div class="spacer"></div>
  <div class="card awards-container">
    <h3> Rewards </h3>
  </div>

  <div class="spacer"> </div>
</div>
